* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('/img/A\ black-and-whi\ 0.png'); 
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
}

nav {
    border: 2px solid #000000;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

a {
    text-align: center;
}

.artikel-input {
    border-color: rgb(0, 128, 38) !important;
    margin-top: 10px;
    font-size: 24px;
    width: 20%;
    height: 50px;
    opacity: 0.8;

}

.center-placeholder::placeholder {
    text-align: center;
  }

.left-align-text {
    text-align: left;
  }

.input_btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
}


.btn.btn-success {
    margin-left: 10px;
    margin-top: 14px;
    height: 40px;
}

.btn-sm {
    margin-top: 10px;
    height: 26px;
    padding: 0.1rem 0.4rem; 
    font-size: 0.8rem; 
}


li {
    font-weight: 600;
    font-size: 24px;
}



.list .list-group {
    border-radius: 20px;
    border: none;
}

.list-group-item {
    opacity: 0.8;
}

.list-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-group-item .d-flex {
    justify-content: space-between;
    width: 100%;
}

.checkbox-input {
    transform: scale(1.5);
    
}



.h5 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    text-decoration: underline;
    background-color: rgba(212, 237, 218, 0.5);
    border-radius: 10px;
  
    
}

#artikel {
    margin-left: -20%;
}


#add {
    border: 1px solid #000000;
}

#btnDelete {
    margin-right: 10px;
}

#gesamtpreis {
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    background-color: rgba(212, 237, 218, 0.5);
    
}

#preis {
    margin-right: 10%;
}


@media screen and (max-width: 900px) {

    #input {
        width: 140px;
    }

    #artikel {
        margin-left: 1px;
    }
   
}

@media screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 20px;
        font-weight: 400;
        color: white;
    }

    #input {
        font-size: 14px;
        width: 100px;
    }

    #quantity {
        font-size: 14px;
    }

    #price {
        font-size: 14px;
    }

    li {
        font-size: 15px;
    }

   

 
}

@media screen and (max-width: 380px) {
    #artikel {
        margin-left: 10px;
    }

    #preis {
        margin-left: 10px;
    }

    .quantity-input {
        margin-left: 10px;
    }

}